:root {
    --color-one: #E3F0FF;
    --color-two: #F38332;
    --color-three: #55BDC3;
    --color-four: #E5F1FF;
    --gray-one: #DEE2E7;
    --gray-two: #8B96A5;
    --dark: #1C1C1C;
    --white: #fff;
    --font-primary: "inter";
}
*{
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.formWrap{
    margin-top: 20px;
}